.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__content {
        display: flex;
        &__title {
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
        }
        &__info {
            font-size: 20px;
            letter-spacing: 1px;
            margin-right: 10px;
        }
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            margin-left: 5px;
        }
    }
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__content {
        display: flex;
        &__comment {
            font-size: 12px;
            letter-spacing: 1px;
            margin-right: 10px;
        }
        &__name {
            font-size: 24px;
            text-transform: uppercase;
            color: rgb(15, 93, 142);
            font-weight: 600;
            margin-right: 10px;
        }
        &__title {
            font-size: 20px;
            letter-spacing: 1px;
            margin-right: 10px;
        }
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            margin-left: 5px;
        }
    }
}