@import "~bootstrap/scss/bootstrap";
@import './sass/line';

.modal {
    display: block;
    background-color: #0000005f;
}

.img-bin {
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    label {
        margin: 0 10px;
        cursor: pointer;
        user-select: none;
        position: absolute;
        background-color: rgb(117, 117, 117);
        width: 24px;
        height: 24px;
        color: white;
        font-weight: bold;
        top: 5px;
        left: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 10;
    }
    [type=checkbox] {
        display: none;
    }
    img {
        height: auto;
        width: 150px;
        display: block;
        position: relative;
        z-index: 5;
    }
    [type=checkbox]:checked~img {
        opacity: 0.3;
    }
}

.red-image {
    font-size: 14px;
    line-height: 34px;
    color: crimson;
    border: 1px solid crimson;
    padding: 0 20px;
}